%main#check-email.user-card.valign-wrapper
  .row
    .col.s12.m8.offset-m2.l6.offset-l3
      .card
        .card-content.center

          %h1 Awesome!
          = material_icon.sentiment_very_satisfied
          %p Almost done. Now check your inbox to confirm your email. 