%h1 Index

- if @dates.present?
  - @dates.each do |date|
    - if day_by_date(date).present?
      %h3= link_to formatted_date(date), "/#{date}"
    - else
      %h3= link_to formatted_date(date), days_path(day: { date: date }), method: :post
- else
  %h2 Nothing here yet.
