.dark-theme {
  background-color: #1d1d1d;

  .divider {
    background-color: $divider-color-dark;
  }

  .navbar-fixed {
    nav {
      @extend .grey, .darken-4;
    }
    .nav-title {
      color: $primary-text-color-dark;
    }
  }

  #edit-diary {  
    input, .title {
      color: $primary-text-color-dark;
    }
    
  }
}


