.page-footer {
  @extend .transparent;

  .row {
    margin-bottom: 19px;
  }

  .footer-copyright {
    @extend .transparent;
    @extend .grey-text;
    justify-content: center;
  }

  a {
    color: darken($theme-color, 5%);
  }
}