.deep-purple-custom {
  background-color: $deep-purple-custom;
}
.deep-purple-text-custom {
  color: darken($deep-purple-custom, 10%);
}
.amber-custom {
  background-color: $amber-custom;
}
.amber-text-custom {
  color: darken($amber-custom, 2%);
}
.terracotta-custom {
  background-color: $terracotta-custom;
}
.terracotta-text-custom {
  color: $terracotta-custom;
}
.salad-green-custom {
  background-color: $salad-green-custom;
}
.salad-green-text-custom {
  color: $salad-green-custom;
}

body {
  line-height: 1.5;
  display: block;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  padding: 50px 0 80px;
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol {
  font-size: 1.4rem;
}

ul, ol {
  line-height: 1.5;
}

ul.bulleted {
  padding-left: 1.5rem;
  li {
    list-style-type: disc;
  }
  li + li {
    padding: 3px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

h1 {
  margin: 40px 0;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

ul.errors {
  color: $error-color;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.2rem;
  li {
    list-style: disc;
  }
}

.btn-flat {
  background-color: transparent !important;
}


@media (max-width: 599px) {
  .main-content {
    padding: 30px 0 80px;
  }
}