// $primary-color: color("materialize-red", "lighten-2") !default;
// $primary-color-light: lighten($primary-color, 15%) !default;
// $primary-color-dark: darken($primary-color, 15%) !default;

// $input-border: 1px solid $input-border-color !default;
// $input-background: #ff0000 !default;
// $input-error-color: $error-color !default;
// $input-success-color: $success-color !default;
// $input-font-size: 1rem !default;
// $input-margin-bottom: 20px;
// $input-margin: 0 0 $input-margin-bottom 0 !default;
// $input-padding: 0 !default;
// $input-transition: all .3s !default;
// $label-font-size: .8rem !default;
// $input-disabled-color: rgba(0,0,0, .42) !default;
// $input-disabled-solid-color: #949494 !default;
// $input-disabled-border: 1px dotted $input-disabled-color !default;
// $input-invalid-border: 1px solid $input-error-color !default;


// Colors
$deep-purple-custom: color("deep-purple", "lighten-1");
$amber-custom: color("amber", "darken-2");
$terracotta-custom: color("deep-orange", "lighten-1");
$salad-green-custom: color("light-green", "darken-1");
$blue-custom: color("blue", "base");

// $theme-color: $deep-purple-custom;
$theme-color: $salad-green-custom;

$primary-text-color: color("grey", "darken-4") !default;
$secondary-text-color: color("blue-grey", "base") !default;
$link-color: $theme-color !default;
$action-color: $theme-color !default;
$secondary-color: $theme-color !default;
$icon-grey-color: color("grey", "base") !default;
$primary-border-color: color("grey", "base") !default;
$current-day-color: rgba($theme-color, 0.1) !default;
$error-color: color("red", "darken-1") !default;
// $success-color: color("green", "base") !default;


// Typography
$h1-fontsize: 2.4rem !default;
$h2-fontsize: 1.7rem !default;
$h3-fontsize: 1.4rem !default;
$h4-fontsize: 1.2rem !default;
// $h5-fontsize: 1.64rem !default;
// $h6-fontsize: 1rem !default;


// Text Inputs + Textarea
$input-border-color: color("grey", "base") !default;
$input-focus-color: $theme-color !default;
$input-text-color: $primary-text-color !default;
$placeholder-text-color: lighten($input-border-color, 1%) !default;
$label-font-size: 1rem !default;


// Dark Theme
$primary-text-color-dark: color("grey", "lighten-1") !default;
$divider-color-dark: color("grey", "darken-3") !default;