#edit-diary {

  .row {
    // border: 1px solid red;
  }

  input {
    color: $input-text-color;
  }

  .title-field {
    width: calc(100% - 250px);
    position: relative;
  }

  .actions {
    width: 250px;
  }

  .type-radio {
    margin: 0 0 0 -0.3rem;
    span {
      padding: 0;
      height: auto;
      width: auto;
      line-height: unset;
    }
    span:before, span:after {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: -9999px;
    }
    [type='radio']:checked + span, span:hover {
      i {
        color: $action-color;
      }
    }
    i {
      color: $icon-grey-color;
      font-size: 48px;
      margin: -3px 2px 0 2px;
      transition: .28s ease;
    }
    .normalize {
      transform: scale(0.9);
    }
  }

  .submit {
    padding: 3px 0;
    i {
      font-size: 1.5rem;
    }
    .btn {
      background-color: $action-color;
    }
  }

  .advanced-actions {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .switch {
    line-height: 2.1;
    .lever {
      margin: 0 10px;
    }
  }

  .delete {
    padding: 0 0 0 3rem;
    a {
      display: flex;
      align-items: center;
    }
    i {
      color: $error-color;
      font-size: 2rem;
      margin: 0 8px;
    }
    label {
      color: $error-color;
    }
  }

  .diary-entries {
    .divider {
      margin: 0 0 0 3rem;
    }
  }

  .diary-entry {
    padding: 0 0 0 3rem;
    margin: 0.75rem 0;
    position: relative;

    .left, .right {
      height: 30px;
    }


    &.hidden {
      opacity: 0.4;
    }

    .prefix {
      margin-bottom: -3px;
      margin-left: -3rem;
      width: 3rem;
      position: static;
      font-size: 1.8rem;
      color: $icon-grey-color;
    }
    .title {
      font-size: 1.4rem;
    }
    .edit {
      display: inline-flex;
      i {
        font-size: 1.7rem;
        color: $action-color;
      }
    }
    .tip-icon {
      margin: 0 10px 0 0;
      display: inline-flex;
      i {
        font-size: 1.5rem;
        color: $icon-grey-color;
        &.normalize {
          transform: scale(0.9);
        }
      }
    }
  }

  .entry-form {
    padding: 1rem 0 0 3rem;
  }

  @media (max-width: 599px) {
    .entry-form {
      padding: 1rem 0 0;
    }
    .title-field {
      width: 100%;
    }
    .actions, .advanced-actions {
      float: right;
      margin-top: 0;
    }

    &.edit-entry {
      .actions {
        position: absolute;
        top: 8.3rem;
        right: 0;
      } 
    }
  }

}