.trix-button-group--file-tools, .trix-button--icon-code {
  display: none !important;
}

.trix-button-row {
  overflow: visible !important;
}

.trix-button-group {
  border-radius: 2px !important;
  border: none !important;
  @extend .z-depth-1;
  margin-bottom: -2rem !important;
}

.trix-button {
  border: none !important;

  &.trix-active {
    background-color: color("light-blue", "lighten-3") !important;
  }
}

.trix-button--icon {
  height: 2rem !important;
}

trix-editor {
  min-height: 15em;
  border: none;
  border-radius: 0;
  padding: 3rem 1.3rem 1.3rem;
  @extend .z-depth-1;
}

.trix-content {
  font-size: 1.15rem;
  line-height: 1.4;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  ul li {
    list-style-type: devanagari;
  }
}

[type="checkbox"]:checked + span:not(.lever):before {
  width: 10px !important;
  height: 16px !important;
}

[type="checkbox"] + span:not(.lever):after {
  width: 25px !important;
  height: 25px !important;
}