body {
  line-height: 1.5;
  display: block;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  margin: 40px 0;
}

h2 {

}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

// .clearfix {
//   overflow: auto;
//   &:after {
//     content: "";
//     clear: both;
//     display: table;
//   }
// }

.main-content {
  padding: 50px 0 80px;
}

.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.errors {
  .error-message {
    color: $error-color;
  }
}